:root {
    --color-Bittersweet:#fe7467;
    --color-Jacarta:#3a3d5c;
    --color-Dark-Gunmetal:#24242c;
} 

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    background-color: white;       /* 16 px * 0.625 = 10 px  conversion de base 10*/
}

body {    
    font-size: 1.4rem;       /** 14px; */
    font-family: "Inter", sans-serif;
    text-align: center;
}

.main-container {
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}

/**header*/

.header {
    background-color: var(--color-Bittersweet);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 9rem;
    height: 8rem;
}

.site-logo{
    text-decoration: none;
    color: white;
    font-size: 2.4rem;
    font-weight: bold;
}

.navbar__center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.icon-burguer{
    color: white;
    font-size: 2.4rem;
}


.navbar__right {
    display: none;
}

.menu-main{
    display: none;
}

.menu-authentication{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.menu-authentication .item-3 {
    display: none;
}

.btn {
    border: 1px solid yellow;
    padding: .6rem 1.2rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    text-decoration: none;
}

.btn-secundary{
    border: 1px solid transparent;
    color: white;
}

.btn-primary{
    background: white;
    border: 1px solid white;
    color: var(--color-Bittersweet);
    box-sizing: border-box;
}

.btn-outline-primary{
    border: 1px solid white;
    color: white;
    box-sizing: border-box;
}

/**main*/

.main {
    flex-grow: 1;
}

.section-call-to-action {
    color: white;
    background: var(--color-Bittersweet);
    height: 44rem;
    display: flex;
    border-radius: 0 0 0 12rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    margin: 4rem 0;
}

.section-designed-for-the-future h2{
    margin-top: 8rem;
}

.content-designed-for-the-future {
    margin: 8rem 0;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-designed-for-the-future{
    max-width: 95%;
    width: 95%;
    padding-bottom: 7rem;
}

.content-designed-for-the-future p{
    text-align: start;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

.section-2 {
    /* border: 1px solid; */
    width: 84%;
    margin: 0 auto;
}

.section-state-of-the-art.section {
    margin: 24rem 0 0;
    color: white;
}
.bg-jacarta {
    background: var(--color-Jacarta);
    height: 50rem;
    border-radius: 0 8rem;
}

.content-state-of-the-art {
    height: 60rem;
}

.content-state-of-the-art .section-1 {
    display: flex;
    position: relative;
    top: -18rem;
}

.img-state-of-art {
    margin: auto;
    max-width: 90%;
    height: 40rem;
    max-height: min-content;
}

.content-state-of-the-art .section-2 {
    position: relative;
    top: -20rem;
    display: flex;
    flex-direction: column;
}

.content-state-of-the-art h2 {
    font-size: 3.7rem;
    font-weight: normal;
    font-weight: bold;
}

.content-state-of-the-art p {
    text-align: center;
    line-height: 1.9rem;
    font-size: 1.2rem;
}

@media (min-width:567px) {
    .content-designed-for-the-future{
        flex-direction: row-reverse;
    }
    .img-designed-for-the-future{
        padding-bottom: 0%;
    }
    .section-state-of-the-art.section{
        margin: 10rem 0 0;
    }
    .content-state-of-the-art{
        display: flex;
        h2{
            font-size: 2rem;
        }
    }
    .bg-jacarta{
    height: 19rem;
    border-radius: 0 4rem;
    }
    .img-state-of-art {
        height: min-content;
    }
    .content-state-of-the-art .section-1{
        top: -19rem;
    }
    .content-state-of-the-art .section-2{
        top: 1rem
    }
}

@media (min-width:768px) {
}

/**footer*/

.footer {
    background-color: var(--color-Dark-Gunmetal);
}

.container {
    /* border: 2px dotted rgb(61, 13, 155); */
    max-width: 96vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0  .8rem;
}

.container-fluid {
    /* border: 2px dotted rgb(255, 255, 255); */
    max-width: 100vw;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
}

/**media queries*/

@media (min-width: 567px ) {
    .container {
        max-width: 56rem;
        padding: 0 1.6rem;
    }
    .content-designed-for-the-future{
        flex-direction: row-reverse;
    }
    .img-designed-for-the-future{
        padding-bottom: 0%;
    }
    .section-state-of-the-art.section{
        margin: 10rem 0 0;
    }
    .content-state-of-the-art{
        display: flex;
        h2{
            font-size: 2rem;
        }
    }
    .bg-jacarta{
    height: 20rem;
    border-radius: 0 4rem;
    }
    .img-state-of-art {
        height: min-content;
    }
    .content-state-of-the-art .section-1{
        top: -19rem;
    }
    .content-state-of-the-art .section-2{
        top: 1rem
    }
}

@media (min-width: 768px ) {
    .container {
        max-width: 72rem;
        padding: 0 2.4rem;
    }
    .navbar__left{
        flex-basis: 15rem;
    }
    .navbar__center{
        flex-grow: 1;
    }
    .navbar__right {
        display: block;
        flex-basis: 15rem;
    }
    .menu-main{
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }
    .icon-burguer{
        display: none;
    }
    .section-designed-for-the-future .section-1,
    .section-designed-for-the-future .section-2{
        flex: 1;
    }
    .content-designed-for-the-future{
        flex-direction: row-reverse;
    }
    .img-designed-for-the-future{
        padding-bottom: 0%;
    }
    .content-state-of-the-art{
        display: flex;
    }
    .bg-jacarta {
        height: 15rem;
    }
    .content-state-of-the-art {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .content-state-of-the-art .section-1 {
        display: flex;
        position: relative;
        top: -21rem;
        flex: 1 0 40%;
        justify-content: center;
        align-items: center;
    }
    .img-state-of-art {
        width: 70%;
        max-width: 70%;
    }
    .content-state-of-the-art .section-2 {
        position: relative;
        top: -22rem;
        flex: 1 0 60%;
        width: 83%;
    }
}
